.divone{
    border:2px solid black;
    height: 10px;
    width: 10px;
    margin: 10px;
}
.one{
    display: flex;
    /* flex-wrap: wrap;  */
    margin: 10px;
    padding:10px;
   
}
.pone{
    font-size: 40px;
}
.two{
    /* border: 2px solid black; */
    height: 750px;
    width:460px;
    padding: 30px;
    font-size: 15px;
    background-color: rgb(237, 234, 251);
    margin-right: 16px;
}
.three {
    /* border: 2px solid black; */
    height: 750px;
    width: 460px;
    padding: 30px;
    font-size: 15px;
    background-color: rgb(237, 234, 251);
    margin-right: 14px;
}
.four {
    /* border: 2px solid black; */
    height: 750px;
    width: 460px;
    margin-right: 14px;
    /* margin-top: 10px; */
    padding: 15px;
    background-color: rgb(237, 234, 251);
}
.im{
    width: 400px;
    height: 380px;
    padding: 0px;
}
.inpu{
    width: 100%;
}

.inpu1 {
    width: 100%;
    background-color: orangered;
}
.head{
    margin-left: 100px;

}

.image-container {
    margin-left: 5%;
    /* Adjust as needed */
    margin-right: 5%;
    /* Adjust as needed */
    max-width: 100%;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .image-container {
        margin-left: 2%;
        margin-right: 2%;
    }

@media (max-width: 1024px) {

    .two,
    .three,
    .four {
        flex-basis: calc(50% - 20px);
        /* 2 columns per row */
    }
}

/* Media queries for mobile screens */
@media (max-width: 768px) {
    .divone {
        margin: 5px;
    }

    .one {
        flex-direction: column;
    }

    .two,
    .three,
    .four {
        flex-basis: 100%;
        /* 1 column per row */
        padding: 15px;
    }

    .pone {
        font-size: 28px;
    }
}

/* Media queries for larger screens */
@media (min-width: 1440px) {

    .two,
    .three,
    .four {
        flex-basis: calc(25% - 20px);
        /* 4 columns per row */
    }
}

