.divone{
    border:2px solid black;
    height: 10px;
    width: 10px;
    margin: 10px;
}
.one{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding:10px;
   
}
.pone{
    font-size: 40px;
}
.two{
    /* border: 2px solid black; */
    height: 750px;
    width:460px;
    padding: 30px;
    font-size: 15px;
    background-color: rgb(237, 234, 251);
    margin-right: 16px;
}
.three {
    /* border: 2px solid black; */
    height: 750px;
    width: 460px;
    padding: 30px;
    font-size: 15px;
    background-color: rgb(237, 234, 251);
    margin-right: 14px;
}
.four {
    /* border: 2px solid black; */
    height: 750px;
    width: 460px;
    margin-right: 14px;
    /* margin-top: 10px; */
    padding: 15px;
    background-color: rgb(237, 234, 251);
}
.im{
    width: 400px;
    height: 380px;
    padding: 0px;
}
.inpu{
    width: 100%;
}

.inpu1 {
    width: 100%;
    background-color: orangered;
}
.head{
    margin-left: 100px;

}